.main{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 900px;
	height:700px;
	background-color:rgb(100,200,250);
	transform: translate(-50%,-50%);
	border-radius: 10px;
	}
		
.main logo{
	position: absolute;
	top: 50px;
	left: 50%;
}

.logo img{
	position: absolute;
	width:70px;
	height:auto;
	top: 7%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
}

.container{
	position: absolute;
	width:800px;
	height:600px;
	top: 56%;
	left: 50%;
	background : #fff;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	border: 1px solid #000;
}		

.content{
	margin-top: 70%;
	margin-left: 30%;
}
		
.title{
	position: absolute;
	top: 6%;
	left: 50%;
	width: 530px;
	background : transprant;
	transform: translate(-50%,-50%);
	border-radius: 10px;
}

.title h2{
	position: absolute;
	top: 50%;
	left: 40%;
	color: #000;
}

.subject{
	position: absolute;
	top: 55%;
	left: 50%;
	width: 660px;
	height: 430px;
	transform: translate(-50%,-50%);
	border-radius: 40px;
	border: 1px solid #000;
	background : transprant;
	overflow-y:auto;
}

.subject div{	
	width:500px;
	height: 50px;
	margin: 20px;
	margin-left:10%;
	background : orange;
	padding:10px 10px;
	border-radius: 50px;
	border: 1px solid #000;
}

.subject button{	
	float: right;
	margin-top: 15px;
	margin-right:10px;
	border-radius: 50px;
}

.subject h2{
	margin-top:10px;
	margin-left:10%;
	text-align:center;
	font-size:20px;
}	